html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

.contanier{
    width: 100%;
    max-width: 1230px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

ul, ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

a{
    text-decoration: none;
}

/* HEADER STYLES START */
.site-header{
    width: 100%;
    padding-top: 44px;
    padding-bottom: 18px;
}

.site-header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.site-header__wrapper-start{
    display: flex;
    align-items: center;
}

.site-header__wrapper-end{
    display: flex;
    align-items: center;
}

.site-header__logo{
    margin-right: 23px;
}

.site-header__currency-list{
    display: flex;
}

.site-header__currency-item{
    margin-right: 20px;
}

.site-header__currency-symbol{
    color: #285193;
    font-size: 16px;
    font-weight: 700;
}

.site-header__currency-num{
    color: #7a7a7a;
    font-size: 16px;
    font-weight: 400;
}

.site-header__search-box{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 21px;
    border-radius: 5px;
    background-color: #fff;
}

.site-header__language-box{
    width: 64px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 23px;
    border-radius: 5px;
    background-color: #fff;
}

.site-header__language-icon{
    margin-right: 5px;
}

.site-header__follow-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    background: linear-gradient(90deg, #1e96c8 15.07%, #37aee2 85.96%);
}

.site-header__follow-icon{
    margin-right: 5px;
}

.site-header__follow-text{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.site-header__nav{
    padding: 22px 24px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.site-header__nav-list{
    display: flex;
    justify-content: space-between;
}

.site-header__nav-link{
    color: #515151;
    font-size: 19px;
    font-weight: 500;
}
/* HEADER STYLES END ------------------------------------------------------------ */

/* MAIN STYLES START */
.site-main{
    width: 100%;
}

/* ASIDE STYLES START */
.site-aside{
    width: 100%;
    margin-bottom: 45px;
}

.site-aside__advert{
    width: 100%;
    height: 99px;
}
/* ASIDE STYLES END  ------------------------------------------------------------*/

/* COVID INFO START */
.covid-info__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
    padding: 42px 81px 42px 35px;
    border-radius: 5px;
    background-color: #f6f6f9;
}

.covid-info__item{
    display: flex;
    align-items: center;
}

.covid-info__item-wrapper{
    flex-wrap: wrap;
}

.covid-info__item:nth-child(1){
    border-right: 2px solid #EB5569;
    padding-right: 42px;
}

.covid-info__item:nth-child(1)::before{
    content: url(../images/icon-covid-1.svg);
    width: 38px;
    height: 40px;
    margin-right: 17px;
}

.covid-info__item:nth-child(2){
    border-right: 2px solid #F4CCD1;
    padding-right: 42px;
}

.covid-info__item:nth-child(2) h3{
    color: #DB0000;
}

.covid-info__item:nth-child(2)::before{
    content: url(../images/icon-covid-2.svg);
    width: 38px;
    height: 40px;
    margin-right: 17px;
}

.covid-info__item:nth-child(3){
    border-right: 2px solid #F4CCD1;
    padding-right: 42px;
}

.covid-info__item:nth-child(3) h3{
    color: #05B135;
}

.covid-info__item:nth-child(3)::before{
    content: url(../images/icon-covid-3.svg);
    width: 38px;
    height: 40px;
    margin-right: 17px;
}

.covid-info__item:nth-child(4)::before{
    content: url(../images/icon-covid-4.svg);
    width: 38px;
    height: 40px;
    margin-right: 17px;
}

.covid-info__title{
    width: 100%;
    max-width: 232px;
    color: #000;
    font-size: 20px;
    font-weight: 500;
}

.covid-info__subtitle{
    font-size: 18px;
    margin-bottom: 0;
}

.covid-info__stats-num{
    color: #000;
    margin-top: 0;
    font-size: 25px;
    font-weight: 600;
}
/* COVID INFO END */

/* NEWS START */
.news{
    width: 100%;
    margin-bottom: 36px;
}

.news-tite{
    display: none;
}

.news-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.news-item{
    width: 100%;
    max-width: 386px;
    margin-bottom: 18px;
}

.news-item__title{
    margin: 11px 0;
    color: #202020;
    font-size: 17px;
    font-weight: 500;
}

.news-item__date{
    color: #6b6d97;
    font-size: 14px;
}
/* NEWS END */

/* MAIN STYLES END */



